
.button1 {
    background-color: red;
    color: black;
    border: 2px solid #555555;
	font-size: 50px;
	text-align: center;
	left: 50%;
  }
  
  .button1:hover {
    background-color: #555555;
    color: white;
  }

.button2 {
    background-color: black;
    color: white;
    border: 2px solid #555555;
	font-size: 30px;
	text-align: center;
	float: left;
  }
  
  .button2:hover {
    background-color: red;
    color: white;
  }

  #div1 {animation-timing-function: linear;}
  
  h1 {
	  color: black;
	  /*border-style: solid;
	  border-color: blue;*/
  }

body {
	background-image: url('view.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

div.three-columns {
    display: table;
    width: 100%;
    border-collapse: collapse; /* Prevent spaces between cells */
	
}
div.three-columns > .column {
    display: table-cell;
    width: 33.33%;
    /*border-left: <BORDER DEFINITION HERE>*/
}
div.three-columns > .column:first-child {
    /* Since we only want borders between the elements, remove the leftmost border */
    border-left: none; 
}

/* .topnav {
  overflow: hidden;
  background-color: white;
} */

.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 22px;
}
  
  
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid white;
  background-color: red;
  color: white;
}

td, th {
  border: 1px solid white;
  height: 20px;
  text-align: center;
  padding: 8px;
}

/*tr:nth-child(even) {
  background-color: #dddddd;
  height: 40px;
}*/